# Entorno virtual
venv/
.venv/

# Python
__pycache__/
*.pyc

# Datasets
dataset/
dataset_raw/

# Modelos entrenados (si aplica)
*.h5
*.keras
*.pt
*.pth

# Forzar inclusión de modelos activos para despliegue
!models/baseline_best.keras
!models/modelo_devaluacion.pkl
!models/buscador_nlp.pkl